.borders {
    -fx-border-image-width: 1px;
    -fx-border-color: rgb(200, 200, 200);
}

.top-border-padding {
    -fx-padding: 10px 0px 0px 0px;
}

.bottom-border-padding {
    -fx-padding: 0px 0px 10px 0px;
}

.no-borders {
    -fx-border-width: 0px !important;
    -fx-border-insets: -10px !important;
    -fx-padding: 5px 10px 5px 10px !important;
}

/*noinspection CssInvalidPseudoSelector*/
.field-content:invalid {
    -fx-control-inner-background: white;
    -fx-border-color: red red red red;
    -fx-border-width: 1px;
    -fx-border-radius: 2px;
}

.table-column-centered {
    -fx-alignment: CENTER;
}

.table-column-centered-left {
    -fx-alignment: CENTER-LEFT;
}

.editor-item-unsaved {
    -fx-underline: true;
}